<html>
<head><title>Home</title></head>
<body>
<h1>I don't like cooking</h1>
<p>I honestly don't like cooking so I looked up a bunch of random recipes.</p>
<a href="/recipes">View Some Recipes</a>
</body>
</html>
