<html>
<head><title>Home</title></head>
<body>
<h1>My Favorite Cooking</h1>
<p>I love cooking because it allows creativity and brings people together.</p>
<a href="/recipes">View Recipes</a>
</body>
</html>
